*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #343a40;
}

                    /* HEADER */
/********************************************************/
.header{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(img/background.png);
    height: auto;
    width: 100%;
    background-size: cover;
}

.header h1{
    font-size: clamp(25px, 2.5vw, 38px);
    color: #fff;
    word-spacing: 8px;
    letter-spacing: 5px;
    flex-wrap: wrap;
    padding: 10px 12px;
}

header img{
    width: 40%;
    border-radius: 2000px;
    border: 2px solid #fff;
}

                    /* HEADER END */
/********************************************************/


                        /* MAIN */
/********************************************************/
                    /* section_1*/
.section_1{
    width: 100%;
    margin: 0 auto;
}

.section_1 ul{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    list-style-type: none;
    background-image: url(img/background.png);
    background-size: cover;
}

.section_1 ul li{
    transition: background 0.5s;
    border-radius: 10px;
    padding: 5px 10px;
    border-bottom: 2px solid #ff7900;
    border-top: 2px solid #ff7900;
}

.section_1 ul li:hover{
    background-color: #ff770083;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.section_1 ul li a{
    text-decoration: none;
    font-size: clamp(20px, 2vw, 32px);
    color: #fff;
    line-height: 2.5vw;
    transition: background 0.5s, color 0.5s;
    border-radius: 20px;
}

@media(max-width: 400px){
    .hide{
        display: none;
    }
}
                /*section_1 end*/




                
                
                
                
                /*section_2 start*/
.background_section_2{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/background.png);
    margin-top: 20px;
    padding: 15px;
}

.section_2{
    width: 80%;
    text-align: center;
    margin: 2vw auto;
}

.section_2 h3{
    font-size: clamp(16px, 1.5vw, 20px);
    color: #fff;
    line-height: 40px;
}

.high-text{
    font-size: clamp(20px, 1.8vw, 24px);
    word-spacing: 5px;
    color: #ff7900;
    text-decoration: underline;
}