*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* obsah nad videem */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 40vh;
}

                    /* HEADER */
/********************************************************/
.header{
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0,0,0,0.2)), url(img/background.png);
    height: auto;
    width: 100%;
    background-size: cover;
}

.header h1{
    font-size: clamp(25px, 2.5vw, 38px);
    color: #fff;
    word-spacing: 8px;
    letter-spacing: 5px;
    flex-wrap: wrap;
    padding: 10px 12px;
}

header img{
    width: 40%;
    border-radius: 2000px;
    border: 2px solid #fff;
}

.connect{
    margin: 0 auto;
}

.connect a{
    font-size: clamp(22px, 2vw, 232px);
    text-decoration: none;
    color: #fff;
    background-image: url(img/background.png);
    background-size: cover;
    padding: 5px 10px;
    position: relative;
    top: 70px;
    border-radius: 999px;
    border: 2px solid #fff;
}

.connect a:hover{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/background.png);
    color: #ffffff9a;
}

.btn_back{
    display: block;
    width: 80px;
    border-radius: 999px;
    margin: 20px auto;
    text-align: center;
}

                    /* HEADER END */
/********************************************************/


.section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    flex-wrap: wrap;
}


.section iframe{
    width: 700px;
    height: 400px;
    border: 3px solid #fff;
    margin: 10px;
    border-radius: 20px;
}





.section_info{
    width: 85%;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 5px;
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/background.png);
    padding: 20px 0;
}

.section_info h1{
    font-size: clamp(18px, 2vw, 38px);
    text-decoration: underline;
}

.section_info p{
    font-size: clamp(13px, 2vw, 20px);
    margin: 20px auto;
}

.section_info .head_name{
    color: #ff8800;
}

.section_info .low_info{
    color: #e01e37;
}